body{
   background: rgb(255,255,255);
background: linear-gradient(84deg, rgba(255,255,255,1) 0%, rgba(194,194,194,1) 59%, rgba(228,228,228,1) 100%);
}


.self-row{
    display: flex;
}

.enter-area{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
     width:75%;
    flex-direction: column;
}

.recent-area{
    width:25%;
    height: 500px;
/*    border: 2px solid black;*/
    border-radius: 8px;
    padding: 12px 6px;
    overflow-x: hidden;
}


#pass-save-box{
/*    border: 2px solid black;*/
    background-color: aqua;
    border-radius: 8px;
    padding: 12 14;
    margin:8 4;
    transition-duration: 1s;
}

#pass-save-box:hover{
    cursor: pointer;
    padding: 35 14;
    transition-duration: 1s;
    
}

.inp{
    border: 3px solid black;
    width:50%;
    margin: 8px;
    padding: 20px;
    border-radius: 12px;
    background-color: transparent;
    font-weight: bold;
}

#mybutton{
    width:150px;
    padding: 12px;
    margin-top:8px;
    color: black;
    font-weight: bold;
}

#result-disp{
    margin-top: 12px;
    font-size: 18px;
}

#sb-t1{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

#sb-t2{
    font-size: 18px;
    color: black;
}